@import "tailwindcss";

@theme {
  --color-theme-1: #008033; /* Green */
  --color-theme-2: #FFCC01; /* Yellow */
  --color-theme-3: #0080FF; /* Blue */
  --color-theme-3-900: rgba(0, 128, 255, 0.9);
  --color-theme-3-800: rgba(0, 128, 255, 0.8);
  --color-theme-3-700: rgba(0, 128, 255, 0.7);
  --color-theme-3-600: rgba(0, 128, 255, 0.6);
  --color-theme-3-500: rgba(0, 128, 255, 0.5);
  --color-theme-3-400: rgba(0, 128, 255, 0.4);
  --color-theme-3-300: rgba(0, 128, 255, 0.3);
  --color-theme-3-200: rgba(0, 128, 255, 0.2);
  --color-theme-3-100: rgba(0, 128, 255, 0.1);
}